@page "/events"
@using EventEaseApp.Components
@rendermode InteractiveServer

<PageTitle>All Events - EventEase</PageTitle>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col">
            <h1 class="display-4">All Events</h1>
            <p class="lead">Discover and join our upcoming corporate and social events</p>
        </div>
    </div>

    <EventList />
</div>

@code {

}